<h2>Products</h2>
<button
  class="button-details"
  [routerLink]="['/', 'add-product']"
  type="button"
>
  Create New Product
</button>
<div class="product-catalogue" *ngFor="let product of products">
  <div class="product-item" (click)="refreshID(product.id)">
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]"
      >
        {{ product.name }}
      </a>
    </h3>

    <p *ngIf="product.description">{{ product.description }}</p>
    <p class="product-category" *ngIf="product.category">
      Category: {{ product.category }}
    </p>

    <!-- <img class="product-interface" src="assets/images/{{product.filename}}" alt="{{product.name}}"/> -->
    <button
      class="button-details"
      [routerLink]="['/', 'products', product.id]"
      type="button"
    >
      Details
    </button>
  </div>
</div>

<!-- <div class="products-catalogue"  *ngFor="let product of products | async ">
  <div class="product-item">
      <a [title]="product.title + ' details'">
          {{ product.title }}
      </a>
      <p class="product-category" *ngIf="product.description">
          Category: {{product.description}}
      </p>
      <button class="button-details" [routerLink]="['/', 'product', product.id]" type="button">Details</button>
  </div>
</div> -->
