#button-buy{
    width: 120px;
    height: 40px;
}
#button-back{
    width: 120px;
    height: 40px;
    background-color:indigo;
    margin-left: 1em;
}
#container{
    text-align: center;
}
.add-to-cart-button{
    margin-bottom: 12px;
}