<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.title }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>
  <img class="product-interface" src="assets/images/{{product.filename}}" alt="{{product.title}}"/>
  <br/>
  <div class="container">
  <button id="button-buy" type="button" (click)="addToCart(product)">Buy</button>
  <button id="button-back" class="button-details" [routerLink]="['/products']" type="button">Back to all products</button>
</div>
</div>
